.login-form {
    width: 50%;
    border: 2px solid gray;
    border-radius: 10px;
    margin: auto;
    margin-top: 200px;
    margin-bottom: 150px;
    padding: 20px;
    text-align: center;
}

.form-control{
    border: 1px solid gray;
}

.buttons{
    margin-top : 10px;
}